################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BasicTextCalculator/bin
/BasicTextCalculator/obj
/.vs/BasicTextCalculator/v16
/BasicTextCalculatorTests/bin/Debug/netcoreapp2.1
/BasicTextCalculatorTests/obj
